name: Publish Package to Npm
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]
jobs:
  publish:
    if: ${{ startsWith(github.head_ref, 'release/') && (github.event.pull_request.merged == true) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish package
        run: |
          yarn
          yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Push tag
        run: |
          git checkout main
          git tag $(echo ${{ github.head_ref }} | cut -b 9-)
          git push --tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
